body{
    background-image: url("../images/background.jpg");
    background-size: cover;
}

canvas {
    width: 800px;
    height: 500px;

    border: 1px solid black;
    margin: 0 auto;
    display: block;
}

h1 {
    color: white;
    text-align: center;
}

#startButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#restartButton {
    display: none;
    justify-content: center;
    margin-top: 20px;
}

button {
    font-size: 20px;
}