body{
    background-image: url("../images/background.jpg");
    background-size: cover;
}

canvas {
    width: 800px;
    height: 500px;

    border: 1px solid black;
    margin: 0 auto;
    display: block;
}

h1 {
    color: white;
    text-align: center;
}